* {
    box-sizing: border-box;
}

.row {
    position: relative;
    display: flex;
    flex-wrap: wrap
}

.login {
    flex: 100%;
    background-color: #CCC;
    padding: 20px;
    margin-left: 30vw;
	margin-right: 30vw;
    margin-top: 15vw;
    position: absolute;
}

body {
    margin: 0;
    background-image: url("./view.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
}

h2 {
    text-align: center;
}

form
{
  width: 40vw;
  height: auto;
  background-color: rgb(201, 201, 201);
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 50px;
  border: 1px solid rgb(0, 0, 0);
}