* {
    box-sizing: border-box;
}

body {
    background-image: url(./binary.gif);
    background-repeat: no-repeat;
    background-size: 190%;
    margin: 0;
}

.nut {
    color: white;
}

input {
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}

button {
    background-color: rgb(43, 128, 226);
    padding: 14px 20px;
    margin: 8px 8px;
    border: 1px solid black;
    color: white;
}
.käännä {
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex: 100%;
    background-color: #ccc;
    padding: 20px;
    font-size: 1.7vh;
    background-image: url("grey.png");
    background-size: cover;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 40px;
    padding-bottom: 19.2%;
    margin-bottom: 0;
}

.header {
    padding: 5px;
    text-align: center;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: black;
    background-image: url("math.gif");
    background-size: auto;
    background-repeat: round;
  }

.week {
    font-size: 50px;
}

.perus {
    font-size: 30px;
}
/* artikkelit 1, 2, 3, 4, 5. */

#kaa {
    position: absolute; 
    left: 31.5vw;
    bottom: 11vw;
    margin-right: 0;
}

#koo {
    position: absolute;
    left: 48vw;
    bottom: 24.5vw;
}

#nee {
    position: absolute;
    left: 66vw;
    bottom: 24.5vw;
}

#vii {
    position: absolute;
    left: 66vw;
    bottom: 15vw;
}
